/* -----------------------------FONTS-------------------------- */
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}
.almarai-light {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .almarai-regular {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .almarai-bold {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .almarai-extrabold {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
/* -----------------------------FONTS-------------------------- */
    
.mapage{
    background-color: Lavender;
    height: 100%;
    padding-bottom:100px;
}

#head{
    text-align: center;
    padding: 50px;
}

#logo{
    width: 100px;
}

#mydata{
    background-color:white;
}

#code{
    color: DarkGreen;
}

#nom{
    color: FireBrick; 
}

.picture{
    width: 100px;
    transition: width 2s;
}

.picture:hover{
    width: 300px;
}

.row{
    padding: 10px;
}

